/* https://psfiles.com/free-gradient-color-palettes-photoshop/ */

:root {
    --bg-color: rgb(0, 0, 52);
    --gradient-one: linear-gradient(#ffcb52, #ff7b02);
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: 'Patrick Hand SC', cursive;
}

body {
    background:  var(--bg-color);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1.welcome-header {
    font-size: 70px;
    letter-spacing: 2px;
    position: relative; /* Add this to create a stacking context */
}

h1.welcome-header {
    font-size: 70px;
    letter-spacing: 2px;
    background-image: var(--gradient-one);
    -webkit-background-clip: text; /* For WebKit/Blink browsers */
    background-clip: text;
    color: transparent;
}

p.welcome-text {
    font-size: 40px;
}



