:root {
    --bg-color: rgb(0, 0, 52);
    --gradient-two: linear-gradient(135deg, #5581f1 55%, #b588f7);
}

* {
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid white; */
}

body {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* COPY THE STUFF FOR COMMENTS BELOW THIS LINE */

.comment-header {
    color: white;
}

.comment-container {
    width: 50vh;
    background: var(--gradient-two);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 30px rgba(181, 136, 247, 0.35);
    text-align: center;
}

.comment-errors {
    list-style: none;
    padding: 0;
    color: white;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--bg-color);
}

.comment-input {
    width: 90%;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: white;
}

.comment-submit {
    background: var(--bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.comment-submit:hover {
    background: #333;
}
